@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="mt-4 p-5 bg-success text-white rounded">
        <h1>LAB 2.0 Asp.net course.</h1>
        <p>Creating a CRUD</p>
    </div>
    <div class="container">
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/images/Freezer.jpg" class="d-block w-100" alt="Freezer">
                </div>
                <div class="carousel-item">
                    <img src="/images/Cell.jpg" class="d-block w-100" alt="Cell">
                </div>
                <div class="carousel-item">
                    <img src="/images/Boo.jpg" class="d-block w-100" alt="Boo">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </div>
</div>
